* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    border: none;
    margin: 20px;
    padding: 0;
}

.box {
  /* Content size */
  width: 200px;
  height: 100px;
  /* Padding (inside) */
  padding: 20px;
  /* Border */
  border: 2px solid black;
  /* Margin (outside) */
  margin: 10px;
  background-color:aliceblue;
}
